# Dataframes - Column Indexing

![alt](http://www.scatter.com/images/DataLab_logo.jpg)

## Table of Contents

1. Retrieving single columns
2. Numeric indexing
3. String indexing

There are a few basic methods to retrieve a subset of the columns of a dataframe:
1. Single columns
1. Numeric indexing: supply the numbers/index of the columns to be retrieved
1. String indexing: supply the names of the columns to be retrieved

We will continue to look at the `iris` dataframe.

#### Retrieving Single Columns

There are (at least) three ways to retrieve a single column of a dataframe. 

But first, recall the columns of the `iris` dataframe.

In [6]:
%r
head(iris)

A single column can be retrieved by specifying inside a pair of square brackets and written after a comma:
- the column number
- the column name

An example of each:

In [8]:
%r
iris

In [9]:
%r
iris['Species', 'Seoal.Width']

A single column can be retrieved by placing the column name after a dollar sign (which follows the dataframe name.)

In [11]:
%r
iris$Species

Notice that, in all three cases, the single column is returned as a vector.

## Numeric Indexing

Numeric indexing is performed by writing a vector of column numbers within square brackets and to the right of the comma.

For example:

Recall that the columns of a dataframe are numbered from left to right. The first column is `Sepal.Length` and the fifth column is `Species`.

In [16]:
%r
head(iris)

In [17]:
%r
str(iris)

The column numbers to display are provided as a numeric vector inside square brackets and to the left of the comma.

For example:

In [19]:
%r
iris[,5:1]

In [20]:
%r
iris[,1:5]

Notice that the result is a dataframe, which makes sense.

## String Indexing

String indexing is performed by writing a vector of column names within square brackets and to the right of the comma.

For example,

In [24]:
%r
iris[,c('Species','Sepal.Width')]

Again, notice that the result is a dataframe (which makes sense.)

Logical indexing can be used to retrieve specific columns, but is not often used (and so not included here.)

__cbind()__ is a function that can be used to add columns to the dataframe. Let's test this function on a sample dataframe:

In [28]:
%r
dummydf=head(iris)
SerialNo=seq(from=100, to=105, by=1)
dummydf=cbind(SerialNo,dummydf)
dummydf

__Exercise__ : Create a new dataframe which contains only the species `versicolor`. Then display the second to tenth rows of this new dataframe and the 12th to the last row by which you omit the first and the eleventh observations.

The End