# Dataset: Zillow

## Contents
1. Setup

## 1. Setup

In [4]:
%sh ls -hot /dbfs/mnt/datalab-datasets/zillow/*

In [5]:
%r
properties_filepath = '/dbfs/mnt/datalab-datasets/zillow/properties_2016.csv'

In [6]:
%python
properties_filepath = '/dbfs/mnt/datalab-datasets/zillow/properties_2016.csv'

## 3. Read using SQL

In [8]:
drop table if exists zillow_properties

In [9]:
create temporary table zillow_properties 
using CSV 
options(path='/mnt/datalab-datasets/zillow/properties_2016.csv', 
        header=TRUE)

In [10]:
select *
from zillow_properties
limit 3

__The End__