# `pandas` - Series

## Reference
- https://pandas.pydata.org/pandas-docs/stable/index.html
- https://pandas.pydata.org/pandas-docs/stable/dsintro.html
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html
- https://pandas.pydata.org/pandas-docs/stable/timeseries.html
- https://docs.scipy.org/doc/numpy/reference/routines.random.html

## Contents
1. Series 
1. Numeric Series
1. Character Series
1. Time Series

## 1. Series

Documentation:
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

Load libraries.

In [1]:
import pandas  as pd
import numpy   as np
print('pandas',pd.__version__)
print('numpy ',np.__version__)

pandas 0.24.2
numpy  1.16.4

There are two types of objects in pandas:
- __Series__, which are 1-dimensional and contain only one type of value (i.e. `float64`, `int64`, `bool`, `object`)
- __Dataframes__, which are 2-dimensional tables

The columns of a DataFrame can be retrieved as a Series or as a DataFrame with a single column.

A __Series__ is a sequence of values and a corresponding sequence of names (an index) for these values.

Create a Series object `my_series` for a range.

In [2]:
my_series = pd.Series(range(0,50,10))
my_series

0     0
1    10
2    20
3    30
4    40
dtype: int64

Use the `dtype` attribute to get the type of object stored in the Series.

In [3]:
my_series.dtype

dtype('int64')

The `size` attribute returns the number of elements in the Series.

In [4]:
my_series.size

5

The `shape` attribute returns the shape of the data.

In [5]:
my_series.shape

(5,)

Notice that `my_series` has `5` elements and only a single dimension.

To see the number of elements in the Series, we can also use `len()` function.

In [6]:
len(my_series)

5

The counts of the distinct values of a Series are displayed using the `value_counts` method.

In [7]:
my_series.value_counts()

30    1
40    1
20    1
10    1
0     1
dtype: int64

In [10]:
import pandas as pd
pd.Series([1,2,3,2,3,2,3,1]).value_counts()

3    3
2    3
1    2
dtype: int64

The values of a Series can be converted into a 1-dimensional numpy array using the `values` method.

In [11]:
print(type(my_series.values))
my_series.values

<class 'numpy.ndarray'>

array([ 0, 10, 20, 30, 40])

There are two ways to aggregate the values of a Series. 
1. Through methods of the Series object, such as `mean()`, `median()`, `sum()`.
1. Through numpy functions, such as `numpy.square()`, `numpy.add()`.

A couple of each are displayed below. More can be found in the documentation.

In [12]:
my_series.mean()

20.0

In [13]:
my_series.median()

20.0

In [14]:
my_series.sum()

100

See link below for a list of numpy aggregation functions:
- https://jakevdp.github.io/PythonDataScienceHandbook/02.04-computation-on-arrays-aggregates.html

One difference between these functions and the Series methods is that the numpy functions can take multi-dimensional numpy arrays as input.

In [15]:
np.max(my_series)

40

In [16]:
np.mean(my_series)

20.0

There are three types of Series. Each has a different type of index. These are:
- __Numeric Series__, where rows are labeled by numbers, which is the default
- __Character Series__, where rows are labeled by strings
- __Time Series__, where the rows are labeled by `datetime` values

The __index__ of a Series is a corresponding sequence of values used to refer to individual elements of a Series or sets of elements of a Series. 

The indexing (retrieval of elements) is slightly different for each type of Series.

## 2. Numeric Indexed Series

Documentation:
- https://docs.scipy.org/doc/numpy/reference/routines.random.html

Create a Series from a numpy array of 11 random integers between 100 and 110.

In [17]:
import numpy as np
num_series = pd.Series(np.random.randint(100,110,11))
type(num_series)

pandas.core.series.Series

Have a look at the Series.

In [18]:
num_series

0     104
1     106
2     106
3     108
4     108
5     107
6     108
7     104
8     100
9     107
10    101
dtype: int64

Access a group of values using labels/indexes in the Series using the `.loc` attribute.

In [19]:
num_series.loc[num_series > 105]

1    106
2    106
3    108
4    108
5    107
6    108
9    107
dtype: int64

[note: might add more examples here]

Access group of values by integer indexes using the `.iloc` attribute.

In [20]:
num_series.iloc[[0,2,4]]

0    104
2    106
4    108
dtype: int64

Note that the `.iloc` attribute takes 0-based indexing. When slicing, the start bounds is included, while the upper bound is excluded.

In [21]:
num_series.iloc[:3]

0    104
1    106
2    106
dtype: int64

The above section introduces the numeric indexed Series and ways to access the values in these Series.

## 3. Character Indexed Series

Create a Series with character index by passing a list of strings to the `index` parameter.

In [22]:
my_series_chr_ndx = pd.Series(data=np.random.randint(100,110,12), 
                              index=['jan','feb','mar','apr','may','jun',
                                     'jul','aug','sep','oct','nov','dec'])
my_series_chr_ndx

jan    107
feb    109
mar    103
apr    106
may    108
jun    101
jul    108
aug    100
sep    101
oct    104
nov    109
dec    104
dtype: int64

Retrieve the value of a single element using an index label value inside square brackets.

In [23]:
my_series_chr_ndx['jan']

107

Retrieve multiple elements using the colon operator between index label values.

In [24]:
my_series_chr_ndx['jan':'apr']

jan    107
feb    109
mar    103
apr    106
dtype: int64

Notice that both endpoints are included.

The `.loc` attribute does the same thing using index label to retrieve elements in the Series.

In [25]:
my_series_chr_ndx.loc['jan':'apr']

jan    107
feb    109
mar    103
apr    106
dtype: int64

The `.iloc` attribute needs to take integer index values to retrieve elements in the Series.

In [26]:
my_series_chr_ndx.iloc[0:4]

jan    107
feb    109
mar    103
apr    106
dtype: int64

To retrieve elements in the Series, one can also use index label values inside double square brackets.

In [27]:
my_series_chr_ndx.loc[['jan','dec']]

jan    107
dec    104
dtype: int64

The above section introduces creating a character indexed Series and retrieving elements in the Series.

## 4. Time Indexed Series

Documentation:
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html
- http://pandas.pydata.org/pandas-docs/stable/timeseries.html

First create a timestamp `start_datetime` using the `to_datetime` function. The function converts its argument to datetime, and a `format` argument is passed to indicate the format of the string to be converted into a datetime value.

In [28]:
start_datetime = pd.to_datetime('201802031100', format='%Y%m%d%H%M')
start_datetime

Timestamp('2018-02-03 11:00:00')

Use the `date_range` function to return a fixed frequency `DatetimeIndex`. Exactly three of the four parameters `start`, `end`, `periods`, and `freq` must be specified.

In [29]:
time_ndx = pd.date_range(start=start_datetime, periods=72, freq='H')
time_ndx

DatetimeIndex(['2018-02-03 11:00:00', '2018-02-03 12:00:00',
               '2018-02-03 13:00:00', '2018-02-03 14:00:00',
               '2018-02-03 15:00:00', '2018-02-03 16:00:00',
               '2018-02-03 17:00:00', '2018-02-03 18:00:00',
               '2018-02-03 19:00:00', '2018-02-03 20:00:00',
               '2018-02-03 21:00:00', '2018-02-03 22:00:00',
               '2018-02-03 23:00:00', '2018-02-04 00:00:00',
               '2018-02-04 01:00:00', '2018-02-04 02:00:00',
               '2018-02-04 03:00:00', '2018-02-04 04:00:00',
               '2018-02-04 05:00:00', '2018-02-04 06:00:00',
               '2018-02-04 07:00:00', '2018-02-04 08:00:00',
               '2018-02-04 09:00:00', '2018-02-04 10:00:00',
               '2018-02-04 11:00:00', '2018-02-04 12:00:00',
               '2018-02-04 13:00:00', '2018-02-04 14:00:00',
               '2018-02-04 15:00:00', '2018-02-04 16:00:00',
               '2018-02-04 17:00:00', '2018-02-04 18:00:00',
               '2018-02-04 19:00:00', '2018-02-04 20:00:00',
               '2018-02-04 21:00:00', '2018-02-04 22:00:00',
               '2018-02-04 23:00:00', '2018-02-05 00:00:00',
               '2018-02-05 01:00:00', '2018-02-05 02:00:00',
               '2018-02-05 03:00:00', '2018-02-05 04:00:00',
               '2018-02-05 05:00:00', '2018-02-05 06:00:00',
               '2018-02-05 07:00:00', '2018-02-05 08:00:00',
               '2018-02-05 09:00:00', '2018-02-05 10:00:00',
               '2018-02-05 11:00:00', '2018-02-05 12:00:00',
               '2018-02-05 13:00:00', '2018-02-05 14:00:00',
               '2018-02-05 15:00:00', '2018-02-05 16:00:00',
               '2018-02-05 17:00:00', '2018-02-05 18:00:00',
               '2018-02-05 19:00:00', '2018-02-05 20:00:00',
               '2018-02-05 21:00:00', '2018-02-05 22:00:00',
               '2018-02-05 23:00:00', '2018-02-06 00:00:00',
               '2018-02-06 01:00:00', '2018-02-06 02:00:00',
               '2018-02-06 03:00:00', '2018-02-06 04:00:00',
               '2018-02-06 05:00:00', '2018-02-06 06:00:00',
               '2018-02-06 07:00:00', '2018-02-06 08:00:00',
               '2018-02-06 09:00:00', '2018-02-06 10:00:00'],
              dtype='datetime64[ns]', freq='H')

Create a Series `my_series_dt_ndx` with time index.

In [0]:
my_series_dt_ndx = pd.Series(np.random.randint(100,110,72), index=time_ndx)

Use the `iloc` attribute to retrieve the first 10 rows of the Series.

In [31]:
my_series_dt_ndx.iloc[:10]

2018-02-03 11:00:00    103
2018-02-03 12:00:00    105
2018-02-03 13:00:00    100
2018-02-03 14:00:00    106
2018-02-03 15:00:00    104
2018-02-03 16:00:00    109
2018-02-03 17:00:00    104
2018-02-03 18:00:00    101
2018-02-03 19:00:00    101
2018-02-03 20:00:00    100
Freq: H, dtype: int64

Use the `loc` attribute to retrieve values with passing the date as string.

In [32]:
my_series_dt_ndx.loc['2018-02-03']

2018-02-03 11:00:00    103
2018-02-03 12:00:00    105
2018-02-03 13:00:00    100
2018-02-03 14:00:00    106
2018-02-03 15:00:00    104
2018-02-03 16:00:00    109
2018-02-03 17:00:00    104
2018-02-03 18:00:00    101
2018-02-03 19:00:00    101
2018-02-03 20:00:00    100
2018-02-03 21:00:00    106
2018-02-03 22:00:00    103
2018-02-03 23:00:00    102
Freq: H, dtype: int64

Note that when slicing, all the matching times in the range will be included.

Notice a datetime index can be provided in multiple formats.

In [33]:
my_series_dt_ndx.loc['Feb 3, 2018']

2018-02-03 11:00:00    103
2018-02-03 12:00:00    105
2018-02-03 13:00:00    100
2018-02-03 14:00:00    106
2018-02-03 15:00:00    104
2018-02-03 16:00:00    109
2018-02-03 17:00:00    104
2018-02-03 18:00:00    101
2018-02-03 19:00:00    101
2018-02-03 20:00:00    100
2018-02-03 21:00:00    106
2018-02-03 22:00:00    103
2018-02-03 23:00:00    102
Freq: H, dtype: int64

Note that when slicing, all the matching times in the range will be included, __including the endpoint__.

In [34]:
my_series_dt_ndx.loc['2018-02-03 11:00:00':'2018-02-03 19:00:00']

2018-02-03 11:00:00    103
2018-02-03 12:00:00    105
2018-02-03 13:00:00    100
2018-02-03 14:00:00    106
2018-02-03 15:00:00    104
2018-02-03 16:00:00    109
2018-02-03 17:00:00    104
2018-02-03 18:00:00    101
2018-02-03 19:00:00    101
Freq: H, dtype: int64

The above section introduces time indexed Series and ways to retrieve values in the Series.

__The End__