# `pandas` - Concatenation

__Contents:__

1.  Concatenating objects
2.  Set logic on other axes
3.  Concatenating using append
4.  Ignoring indexes on the concatenation axis
5.  Concatenating

Related/useful documentation:
- https://pandas.pydata.org/pandas-docs/stable/merging.html
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html

### Setup

In [1]:
%%sh
git clone https://github.com/datalab-datasets/file-samples.git

Cloning into 'file-samples'...

In [2]:
%ls /content/file-samples/iris.csv

/content/file-samples/iris.csv

### Load libraries

In [3]:
import pandas  as pd
import numpy   as np
(pd.__version__,
 np.__version__
)

('0.24.2', '1.16.4')

__Concatenation__

`concat` function - The concat function does all of the heavy lifting of performing concatenation operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html

__1. Concatenating Objects__

pandas.concat takes a list or dict of homogeneously-typed objects and concatenates them with some configurable handling of “what to do with the other axes”:

__Example__

Defining sample data panda dataframes df1 and df2

In [4]:
 df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
 df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [5]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [0]:
frames = [df1, df2]

Using concat function to concatenate two dataframes df1 and df2. The concatenated dataframed in stored in `result`.

In [7]:
result = pd.concat(frames)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

Suppose we wanted to associate specific keys with each of the pieces of the chopped up DataFrame. We can use the keys argument:

In [10]:
result = pd.concat(frames, keys=['x', 'y'])
result.index

MultiIndex(levels=[['x', 'y'], [0, 1, 2, 3, 4, 5, 6, 7]],
           codes=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 2, 3, 4, 5, 6, 7]])

The resulting object's index has a hierarchical index. We can select each chunk by key:

In [11]:
result.loc['y']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

__2. Set logic on other axes__:

While appending multiple data frames, you have a choice how to handle other axes. This can be done in three ways:

1. `join = 'outer'` which takes sorted union of all, zero information loss
2. `join = 'inner'` which takes the intersection
3. `join_axes` Use a specific index or indexes

`join = 'outer'`

In [12]:
df3 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
df3

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [13]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [14]:
result = pd.concat([df1, df3], axis=1)
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

`join` = 'inner'

In [15]:
result = pd.concat([df1, df3], axis=1, join='inner')
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

`join_axes`

In [16]:
result = pd.concat([df1, df3], axis=1, join_axes=[df1.index])
result

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

__3. Concatenating using append__

A useful shortcut to concat are the append instance methods on Series and DataFrame. These methods actually predated concat. They concatenate along axis=0, namely the index:

In [17]:
result = df1.append(df2)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

`append` may take multiple objects to concatenate:

In [18]:
result = df1.append([df2, df3])
result

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4   A4  B4   C4  D4  NaN
5   A5  B5   C5  D5  NaN
6   A6  B6   C6  D6  NaN
7   A7  B7   C7  D7  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

__4. Ignoring indexes on the concatenation axis__

For DataFrames which don’t have a meaningful index, you may wish to append them and ignore the fact that they may have overlapping indexes. We can set `ignore_index` = `True`. The same argument works in a similar way with `DataFrame.append`

In [19]:
result = pd.concat([df1, df3], ignore_index=True)
result

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

__5. Concatenating with mixed ndims__

We can also concatenate a mix of Series and DataFrames. The Series gets transformed to DataFrames with the column name as the name of the Series.

In [20]:
s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='X')
s1

0    X0
1    X1
2    X2
3    X3
Name: X, dtype: object

In [21]:
result = pd.concat([df1, s1], axis=1)
result

    A   B   C   D   X
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

##Example of concact using the iris dataset

In [22]:
iris = pd.read_csv('/content/file-samples/iris.csv')
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
5            5.4         3.9          1.7         0.4     Iris-setosa
6            4.6         3.4          1.4         0.3     Iris-setosa
7            5.0         3.4          1.5         0.2     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
9            4.9         3.1          1.5         0.1     Iris-setosa
10           5.4         3.7          1.5         0.2     Iris-setosa
11           4.8         3.4          1.6         0.2     Iris-setosa
12           4.8         3.0          1.4         0.1     Iris-setosa
13           4.3         3.0          1.1         0.1     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa
15           5.7         4.4          1.5         0.4     Iris-setosa
16           5.4         3.9          1.3         0.4     Iris-setosa
17           5.1         3.5          1.4         0.3     Iris-setosa
18           5.7         3.8          1.7         0.3     Iris-setosa
19           5.1         3.8          1.5         0.3     Iris-setosa
20           5.4         3.4          1.7         0.2     Iris-setosa
21           5.1         3.7          1.5         0.4     Iris-setosa
22           4.6         3.6          1.0         0.2     Iris-setosa
23           5.1         3.3          1.7         0.5     Iris-setosa
24           4.8         3.4          1.9         0.2     Iris-setosa
25           5.0         3.0          1.6         0.2     Iris-setosa
26           5.0         3.4          1.6         0.4     Iris-setosa
27           5.2         3.5          1.5         0.2     Iris-setosa
28           5.2         3.4          1.4         0.2     Iris-setosa
29           4.7         3.2          1.6         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
120          6.9         3.2          5.7         2.3  Iris-virginica
121          5.6         2.8          4.9         2.0  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
123          6.3         2.7          4.9         1.8  Iris-virginica
124          6.7         3.3          5.7         2.1  Iris-virginica
125          7.2         3.2          6.0         1.8  Iris-virginica
126          6.2         2.8          4.8         1.8  Iris-virginica
127          6.1         3.0          4.9         1.8  Iris-virginica
128          6.4         2.8          5.6         2.1  Iris-virginica
129          7.2         3.0          5.8         1.6  Iris-virginica
130          7.4         2.8          6.1         1.9  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica
132          6.4         2.8          5.6         2.2  Iris-virginica
133          6.3         2.8          5.1         1.5  Iris-virginica
134          6.1         2.6          5.6         1.4  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
136          6.3         3.4          5.6         2.4  Iris-virginica
137          6.4         3.1          5.5         1.8  Iris-virginica
138          6.0         3.0          4.8         1.8  Iris-virginica
139          6.9         3.1          5.4         2.1  Iris-virginica
140          6.7         3.1          5.6         2.4  Iris-virginica
141          6.9         3.1          5.1         2.3  Iris-virginica
142          5.8         2.7          5.1         1.9  Iris-virginica
143          6.8         3.2          5.9         2.3  Iris-virginica
144          6.7         3.3          5.7         2.5  Iris-virginica
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [23]:
iris.shape

(150, 5)

Split the dataset into two dataframes of different sizes

In [0]:
from sklearn.model_selection import train_test_split
iris_df1,iris_df2= train_test_split(iris,test_size=0.4,train_size=0.6)

Now we will try applying the functions on the two subsets (`iris_df1`,`iris_df2`) of the iris dataset

In [0]:
frame = [iris_df1, iris_df2]

In [26]:
iris_concat1 = pd.concat(frame, keys=['x', 'y'])
iris_concat1

       SepalLength  SepalWidth  PetalLength  PetalWidth             Name
x 106          4.9         2.5          4.5         1.7   Iris-virginica
  17           5.1         3.5          1.4         0.3      Iris-setosa
  114          5.8         2.8          5.1         2.4   Iris-virginica
  125          7.2         3.2          6.0         1.8   Iris-virginica
  39           5.1         3.4          1.5         0.2      Iris-setosa
  126          6.2         2.8          4.8         1.8   Iris-virginica
  116          6.5         3.0          5.5         1.8   Iris-virginica
  132          6.4         2.8          5.6         2.2   Iris-virginica
  92           5.8         2.6          4.0         1.2  Iris-versicolor
  118          7.7         2.6          6.9         2.3   Iris-virginica
  41           4.5         2.3          1.3         0.3      Iris-setosa
  76           6.8         2.8          4.8         1.4  Iris-versicolor
  9            4.9         3.1          1.5         0.1      Iris-setosa
  29           4.7         3.2          1.6         0.2      Iris-setosa
  82           5.8         2.7          3.9         1.2  Iris-versicolor
  124          6.7         3.3          5.7         2.1   Iris-virginica
  99           5.7         2.8          4.1         1.3  Iris-versicolor
  40           5.0         3.5          1.3         0.3      Iris-setosa
  79           5.7         2.6          3.5         1.0  Iris-versicolor
  85           6.0         3.4          4.5         1.6  Iris-versicolor
  134          6.1         2.6          5.6         1.4   Iris-virginica
  20           5.4         3.4          1.7         0.2      Iris-setosa
  61           5.9         3.0          4.2         1.5  Iris-versicolor
  122          7.7         2.8          6.7         2.0   Iris-virginica
  93           5.0         2.3          3.3         1.0  Iris-versicolor
  45           4.8         3.0          1.4         0.3      Iris-setosa
  98           5.1         2.5          3.0         1.1  Iris-versicolor
  110          6.5         3.2          5.1         2.0   Iris-virginica
  14           5.8         4.0          1.2         0.2      Iris-setosa
  18           5.7         3.8          1.7         0.3      Iris-setosa
...            ...         ...          ...         ...              ...
y 78           6.0         2.9          4.5         1.5  Iris-versicolor
  53           5.5         2.3          4.0         1.3  Iris-versicolor
  8            4.4         2.9          1.4         0.2      Iris-setosa
  47           4.6         3.2          1.4         0.2      Iris-setosa
  7            5.0         3.4          1.5         0.2      Iris-setosa
  35           5.0         3.2          1.2         0.2      Iris-setosa
  102          7.1         3.0          5.9         2.1   Iris-virginica
  15           5.7         4.4          1.5         0.4      Iris-setosa
  71           6.1         2.8          4.0         1.3  Iris-versicolor
  74           6.4         2.9          4.3         1.3  Iris-versicolor
  105          7.6         3.0          6.6         2.1   Iris-virginica
  84           5.4         3.0          4.5         1.5  Iris-versicolor
  87           6.3         2.3          4.4         1.3  Iris-versicolor
  147          6.5         3.0          5.2         2.0   Iris-virginica
  58           6.6         2.9          4.6         1.3  Iris-versicolor
  89           5.5         2.5          4.0         1.3  Iris-versicolor
  24           4.8         3.4          1.9         0.2      Iris-setosa
  131          7.9         3.8          6.4         2.0   Iris-virginica
  91           6.1         3.0          4.6         1.4  Iris-versicolor
  52           6.9         3.1          4.9         1.5  Iris-versicolor
  123          6.3         2.7          4.9         1.8   Iris-virginica
  100          6.3         3.3          6.0         2.5   Iris-virginica
  0            5.1         3.5          1.4         0.2      Iris-setosa
  25           5.0         3.0          1.6         0.2      Iris-setosa
  148          6.2         3.4          5.4         2.3   Iris-virginica
  66           5.6         3.0          4.5         1.5  Iris-versicolor
  117          7.7         3.8          6.7         2.2   Iris-virginica
  67           5.8         2.7          4.1         1.0  Iris-versicolor
  94           5.6         2.7          4.2         1.3  Iris-versicolor
  26           5.0         3.4          1.6         0.4      Iris-setosa

[150 rows x 5 columns]

In [27]:
iris_concat2= pd.concat([iris_df1, iris_df2])
iris_concat2.shape

(150, 5)

In [28]:
iris_df1

     SepalLength  SepalWidth  PetalLength  PetalWidth             Name
106          4.9         2.5          4.5         1.7   Iris-virginica
17           5.1         3.5          1.4         0.3      Iris-setosa
114          5.8         2.8          5.1         2.4   Iris-virginica
125          7.2         3.2          6.0         1.8   Iris-virginica
39           5.1         3.4          1.5         0.2      Iris-setosa
126          6.2         2.8          4.8         1.8   Iris-virginica
116          6.5         3.0          5.5         1.8   Iris-virginica
132          6.4         2.8          5.6         2.2   Iris-virginica
92           5.8         2.6          4.0         1.2  Iris-versicolor
118          7.7         2.6          6.9         2.3   Iris-virginica
41           4.5         2.3          1.3         0.3      Iris-setosa
76           6.8         2.8          4.8         1.4  Iris-versicolor
9            4.9         3.1          1.5         0.1      Iris-setosa
29           4.7         3.2          1.6         0.2      Iris-setosa
82           5.8         2.7          3.9         1.2  Iris-versicolor
124          6.7         3.3          5.7         2.1   Iris-virginica
99           5.7         2.8          4.1         1.3  Iris-versicolor
40           5.0         3.5          1.3         0.3      Iris-setosa
79           5.7         2.6          3.5         1.0  Iris-versicolor
85           6.0         3.4          4.5         1.6  Iris-versicolor
134          6.1         2.6          5.6         1.4   Iris-virginica
20           5.4         3.4          1.7         0.2      Iris-setosa
61           5.9         3.0          4.2         1.5  Iris-versicolor
122          7.7         2.8          6.7         2.0   Iris-virginica
93           5.0         2.3          3.3         1.0  Iris-versicolor
45           4.8         3.0          1.4         0.3      Iris-setosa
98           5.1         2.5          3.0         1.1  Iris-versicolor
110          6.5         3.2          5.1         2.0   Iris-virginica
14           5.8         4.0          1.2         0.2      Iris-setosa
18           5.7         3.8          1.7         0.3      Iris-setosa
..           ...         ...          ...         ...              ...
108          6.7         2.5          5.8         1.8   Iris-virginica
3            4.6         3.1          1.5         0.2      Iris-setosa
1            4.9         3.0          1.4         0.2      Iris-setosa
68           6.2         2.2          4.5         1.5  Iris-versicolor
60           5.0         2.0          3.5         1.0  Iris-versicolor
142          5.8         2.7          5.1         1.9   Iris-virginica
4            5.0         3.6          1.4         0.2      Iris-setosa
83           6.0         2.7          5.1         1.6  Iris-versicolor
144          6.7         3.3          5.7         2.5   Iris-virginica
21           5.1         3.7          1.5         0.4      Iris-setosa
31           5.4         3.4          1.5         0.4      Iris-setosa
11           4.8         3.4          1.6         0.2      Iris-setosa
96           5.7         2.9          4.2         1.3  Iris-versicolor
86           6.7         3.1          4.7         1.5  Iris-versicolor
55           5.7         2.8          4.5         1.3  Iris-versicolor
88           5.6         3.0          4.1         1.3  Iris-versicolor
62           6.0         2.2          4.0         1.0  Iris-versicolor
32           5.2         4.1          1.5         0.1      Iris-setosa
109          7.2         3.6          6.1         2.5   Iris-virginica
140          6.7         3.1          5.6         2.4   Iris-virginica
19           5.1         3.8          1.5         0.3      Iris-setosa
69           5.6         2.5          3.9         1.1  Iris-versicolor
12           4.8         3.0          1.4         0.1      Iris-setosa
101          5.8         2.7          5.1         1.9   Iris-virginica
137          6.4         3.1          5.5         1.8   Iris-virginica
80           5.5         2.4          3.8         1.1  Iris-versicolor
16           5.4         3.9          1.3         0.4      Iris-setosa
120          6.9         3.2          5.7         2.3   Iris-virginica
72           6.3         2.5          4.9         1.5  Iris-versicolor
127          6.1         3.0          4.9         1.8   Iris-virginica

[90 rows x 5 columns]

In [29]:
iris_append = iris_df1.append(iris_df2)
iris_append.shape

(150, 5)

In [30]:
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
5            5.4         3.9          1.7         0.4     Iris-setosa
6            4.6         3.4          1.4         0.3     Iris-setosa
7            5.0         3.4          1.5         0.2     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
9            4.9         3.1          1.5         0.1     Iris-setosa
10           5.4         3.7          1.5         0.2     Iris-setosa
11           4.8         3.4          1.6         0.2     Iris-setosa
12           4.8         3.0          1.4         0.1     Iris-setosa
13           4.3         3.0          1.1         0.1     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa
15           5.7         4.4          1.5         0.4     Iris-setosa
16           5.4         3.9          1.3         0.4     Iris-setosa
17           5.1         3.5          1.4         0.3     Iris-setosa
18           5.7         3.8          1.7         0.3     Iris-setosa
19           5.1         3.8          1.5         0.3     Iris-setosa
20           5.4         3.4          1.7         0.2     Iris-setosa
21           5.1         3.7          1.5         0.4     Iris-setosa
22           4.6         3.6          1.0         0.2     Iris-setosa
23           5.1         3.3          1.7         0.5     Iris-setosa
24           4.8         3.4          1.9         0.2     Iris-setosa
25           5.0         3.0          1.6         0.2     Iris-setosa
26           5.0         3.4          1.6         0.4     Iris-setosa
27           5.2         3.5          1.5         0.2     Iris-setosa
28           5.2         3.4          1.4         0.2     Iris-setosa
29           4.7         3.2          1.6         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
120          6.9         3.2          5.7         2.3  Iris-virginica
121          5.6         2.8          4.9         2.0  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
123          6.3         2.7          4.9         1.8  Iris-virginica
124          6.7         3.3          5.7         2.1  Iris-virginica
125          7.2         3.2          6.0         1.8  Iris-virginica
126          6.2         2.8          4.8         1.8  Iris-virginica
127          6.1         3.0          4.9         1.8  Iris-virginica
128          6.4         2.8          5.6         2.1  Iris-virginica
129          7.2         3.0          5.8         1.6  Iris-virginica
130          7.4         2.8          6.1         1.9  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica
132          6.4         2.8          5.6         2.2  Iris-virginica
133          6.3         2.8          5.1         1.5  Iris-virginica
134          6.1         2.6          5.6         1.4  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
136          6.3         3.4          5.6         2.4  Iris-virginica
137          6.4         3.1          5.5         1.8  Iris-virginica
138          6.0         3.0          4.8         1.8  Iris-virginica
139          6.9         3.1          5.4         2.1  Iris-virginica
140          6.7         3.1          5.6         2.4  Iris-virginica
141          6.9         3.1          5.1         2.3  Iris-virginica
142          5.8         2.7          5.1         1.9  Iris-virginica
143          6.8         3.2          5.9         2.3  Iris-virginica
144          6.7         3.3          5.7         2.5  Iris-virginica
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

__The End__